@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Poppins:wght@200;300&display=swap');


/*GLOBAL///////////////////////////////////////////////////////////////////////////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, span{
  color: var(--font-color);
}

:root{
    --dark: black;
    --light: white;
    --gray: lightgray;
    --font-color: black;
    --primary-color-hue: 210;
    --color-primary: hsl(var(--primary-color-hue), 100%, 56%);

}

html{
  font-size: 16px; 
}

body{
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* NAVBAR///////////////////////////////////////////////////////////////////////////////// */

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background: var(--light);
    color: var(--font-color);
}

.nav-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.2rem;
}

.searchbar{
    background: var(--gray);
    border-radius: 1rem;
    color: var(--font-color);
    padding-left: 5px;
}

.searchbar input{
    background: transparent;
    padding: 7px 12px;
    border-radius: 16px;
    width: 350px;
    font-family: inherit;
    font-size: 12px;
    color: var(--font-color);
    opacity: 0.8;
}

/* .searchbar input::placeholder{
   } */

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

 label{
    background: var(--color-primary);
    font-size: 0.8rem;
    padding: 5px 16px;
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

.profile-pic img, img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
   object-position: center;
}

.profile-pic{
  display: grid;
  align-items: center;
}

/*MAIN-SECTION/////////////////////////////////////////////////////////////////////////////*/


main{
    width: 100vw;
    padding: 30px;
    background: var(--gray);
}

.main-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% auto 25%;
    gap: 30px;   
}

/*LEFT*/
.left{
    text-align: center;
    height: max-content;
    position: sticky;
    top: 5vh;
}

.left-top{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--light);
    border-radius: 8px;
    padding: 10px;
}

.profile-title{
    text-align: left;
    font-size: 0.8rem;  
}

/*LEFT-MIDDLE*/

.left-middle{
    background: var(--light);
    border-radius: 8px;
    margin: 20px 0;
    
}

.list-items .active a span{
  color: var(--color-primary);
}

.list-items li{
    position: relative;
}

.list-items li a{
    display: block;
    padding: 15px;
    text-align: left;
    padding-left: 25px;
    color: var(--font-color);
    font-weight: bold; 
    font-size: 0.8rem;
    transition: all .2s ease-in;
}

.list-items li a:hover{
    background: var(--gray);
}

.list-items li i{
    position: relative;
    margin-right: 0.8rem;
}

.active{
    background: var(--gray);
    border-left: 5px solid var(--color-primary);
/*     transition: all 0.2s ease-out; */
}

.left-bottom label{
    width: 100%;
    display: block;
    font-weight: bold;
   padding: 9px;
}

.pop-up{
    position: absolute;
    display: none;
    top: 0;
    left: 105%;
    width: 20rem;
    background: var(--light);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    box-shadow: 4px 4px 2px rgba(128,128,128, 0.2);
    z-index: 10;
}

.pop-up::before{
    content: "";
    width: 1rem;
    display: block;
    height: 1rem;
    background: var(--light);
    position: absolute;
    left: -0.5rem;
    top: 1rem;
    transform: rotate(45deg);
   
}

.pop-up-item{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.pop-up-item div{
    margin-right: 0.5rem;
}

.notification-count{
    background: red;
    font-size: 0.6rem;
    padding: 0 0.3rem;
    color: white;
    border-radius: 8px;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.pop-up-item p{
    text-align: left;
}

/*MIDDLE//////////////////////////////////////////////////////////////////////////////////////*/
.middle{
  min-width: 100%;
  padding: 6px;
  margin: 0 auto;
}

.stories{
    display: flex;
    height: 30vh;
    gap: 0.5rem;
    min-width: 100%;
    margin: 0 auto;
    padding: 8px;
}   

.story{
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.profile-photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-photo{
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.profile-name{
  color: white;
}

.story:first-child{
    background: url('./assets/mens-glasses-1597681530.jpg') no-repeat center center/cover;
}

.story:nth-child(2){
    background: url('./assets/photo-2.jpg') no-repeat center center/cover;
}

.story:nth-child(3){
    background: url('./assets/photo-3.jpg') no-repeat center center/cover;
}

.story:nth-child(4){
    background: url('./assets/photo-4.jpg') no-repeat center center/cover;
}

.story:nth-child(5){
    background: url('./assets/photo-5.jpg') no-repeat center center/cover;
}

.story:last-child{
    background: url('./assets/photo-6.jpg') no-repeat center center/cover;
}


/* .story::after{
  content: "";
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.1));
  position: absolute;
  bottom: 0;
} */

.story p{
/*     z-index: 10; */
    font-size: 0.8rem;
}

/*CREATE POST */

.create-post{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 8px;
    background: var(--light);
    height: 2.5rem;
}

.create-post div{
    height: 2rem;
    width: 2.5rem;
}

.create-post img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.create-post input[type='text']{
    width: 100%;
    padding-left: 0.5rem;
    margin-left: 0;
    background: transparent;
    color: var(--font-color);
    font-family: inherit;
    font-size: 12px;
}

.create-post button{
    background: var(--color-primary);
    padding: 6px 16px;
    border-radius: 30px;
    color: white;
}

/*FEEDS*/
.feeds {
  min-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.feed{
    background: var(--light);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    max-width: 100%;
    margin: 1rem 5px;
}

.user-info{
    display: flex;
    gap: 0.8rem;
    padding: 5px;
}


.user-info div img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border: 2px solid var(--color-primary);
}

.user{
    display: flex;
    justify-content: space-between;
}

.user-names{
    font-size: 0.8rem;
}

.user-names p{
    font-size: 0.7rem;
}

.feed-post{
    height: 20rem;
    width: 100%;
    border-radius: 8px;
}

.one {
    background: url('./assets/feedphoto1.jpg') no-repeat center center/cover;
}

.two {
    background: url('./assets/feed-photo2.jpg') no-repeat center center/cover;
}

.three{
    background: url('./assets/feed-post3.jpg') no-repeat center center/cover;
}

.four{
    background: url('./assets/feed-photo5.jpg') no-repeat center center/cover;
}

.five{
    background: url('./assets/feed-photo8.jpg') no-repeat center center/cover;
}

.six{
    background: url('./assets/feed-photo7.jpg') no-repeat center center/cover;
}

.action-tools{
    display: flex;
    justify-content: space-between;
}

.liked:nth-child(1){
    background: url('./assets/span-1.jpg') no-repeat center center/cover;
}

.liked:nth-child(2){
    background: url('./assets/span-2.jpg') no-repeat center center/cover;
}

.liked:nth-child(3){
    background: url('./assets/span-3.jpg') no-repeat center center/cover;
}

.liked{
    height: 1.2rem;
    width: 1.2rem;
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -0.3rem;
}

.action-tools{
    padding: 5px 0;
}

.info{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding: 3px 0;
}

.save{
  color: var(--font-color);
}

.info p{
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.caption{
    font-size: 0.9rem;
}

/*///////////////////////////RIGHT//////////////////////////////*/

/* .right{
    height: max-content;
    position: sticky;
    top: 4vh;
} */


.right-top{
    background: var(--light);
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 0.8rem;
    width: max-content;
}

.edit{
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    margin-bottom: 10px;
}

.search{
    background: var(--gray);
    border-radius: 20px;
    padding: 5px;
}

.search input[type='text']{
    background: transparent;
    margin-left: 1rem;
    color: var(--font-color);
    font-family: inherit;
    font-size: 12px;
}

.search-info{
    display: flex;
    margin: 10px 0;
    color: var(--color-primary);
}

.search-info div{
    width: 100%;
    border-bottom: 2px solid var(--gray);
    padding: 10px;
    text-align: center;
}

#main{
    border-bottom: 3px solid black;  
}

#request{
    color: var(--color-primary);
    font-weight: 700;
}

.message-board > div{
    display: flex;
    gap: 0.7rem;
    margin-bottom: 8px;
    padding: 6px 0;
    color: var(--font-color);
}

.image{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: relative;
}


.img-1{
  background: url('https://randomuser.me/api/portraits/women/12.jpg') no-repeat center center/cover;
}

.img-2{
  background: url('https://randomuser.me/api/portraits/men/11.jpg') no-repeat center center/cover;
}

.img-3{
  background: url('https://randomuser.me/api/portraits/men/15.jpg') no-repeat center center/cover;
}

.img-4{
  background: url('https://randomuser.me/api/portraits/women/16.jpg') no-repeat center center/cover;
}

.online::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background:lime;
    position: absolute;
    bottom:0;
    border: 2px solid white;
    left: 55%;
}

/*///////////REQUESTS////////////*/

.request{
    background: var(--light);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 18px;
   
}

.request-profile{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.p-1{
  background: url('./assets/feed-user.jpg') no-repeat center center/cover;
}

.p-2{
  background: url('https://randomuser.me/api/portraits/women/76.jpg') no-repeat center center/cover;
}

.p-3{
  background: url('https://randomuser.me/api/portraits/women/3.jpg') no-repeat center center/cover;
}

.request-user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-info{
    font-size: 0.9rem;
}

.action{
    display: flex;
    gap: 10%;
    margin-top: 8px;
    padding: 5px;
    justify-content: center;
}
.action button{
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
  background:darkgray;
}

#highlight{
    background: var(--color-primary);
}

.requests h4{
    margin: 20px 0 10px 0;
    color: gray;
}

/*/////////////////THEME CUSTOMIZATION /////////////////////*/

.customize-theme{
    position: fixed;
    background: rgba(225, 225, 225, 0.4);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    place-items: center; /*centers items vertically & horizontally within the container*/
    text-align: center; 
}

.customize-theme .card{
    background: var(--light);
    padding: 2rem;
    font-size: 0.9rem;
    border-radius: 8px;
    width: 40%;
}

.card h3{
  font-weight: 700;
  color: var(--font-color);
}

.card p{
  font-size: .8rem;
  color: var(--font-color);
}

.font-size{
    margin-top: 15px;
}

.font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(192,192,192, 0.3);
    border-radius: 8px;
    padding: 5px 10px;
}

.choose-size{
    background-color:rgba(192,192,192, 0.7);
    height: 5px;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.choose-size span{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(192,192,192, 0.7);
    cursor: pointer;
}

.choose-size .active{
    background-color: var(--color-primary); 
}

.color-window{
    margin-top: 12px;
}

.choose-color{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(192,192,192, 0.3);
    padding: 8px 12px;
    border-radius: 8px;
}

.choose-color span{
    height: 20px;
    width: 20px;
    background: orangered;
    border-radius: 50%;
}


.choose-color span:nth-child(1){
    background-color: #1e90ff;
}

.choose-color span:nth-child(2){
    background-color: 	#ffd700;
}

.choose-color span:nth-child(3){
    background-color: #b22222;
}

.choose-color span:nth-child(4){
    background-color: 	#90ee90;
}

.choose-color span:nth-child(5){
    background-color:  #9400d3;
}


.color-active{
  border: 3px solid #fff;
}

.background{
    margin-top: 15px;
}

.choose-bg{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding: 10px 8px;
    border-radius: 8px;
    width: 100%;
   
}

.choose-bg span{
    height: 20px;
    width: 20px;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    margin-right: 8px;
}

.choose-bg div{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 15px 15px;
    border-radius: 5px;
    width: 100%;
    flex-wrap: wrap;
    color: var(--font-color);
}


.bg-2{
    background-color:rgb(6, 6, 83);
    color: #fff;
}

.bg-2 span{
    border: 1px solid white;
    color: #fff;
}

.bg-2 h5{
  color: #fff;
}

.bg-3{
    background-color: black;
    color: white;
}

.bg-3 span{
    border: 1px solid white;  
}

.bg-3 h5{
  color: #fff;
}


/****************MEDIA QUERIES *******************/


@media screen and (max-width: 1200px){
  .menu-item a span{
    display: none;
  }

  .main-container{
    grid-template-columns: 4rem auto 30%;
    min-width: 100%;
  }

  .customize-theme .card {
    width: 50%;
  }

  .left-top{
    display: none;
  }

  .left-bottom{
    display: none;
  }
}


@media screen and (max-width: 992px) {
  .main-container{
    min-width: 100%;
    grid-template-columns: 5rem auto 0;
    gap: 1 rem;
  }

  .right {
    display: none;
  }

  main{
    padding: 15px;
  }

  .searchbar {
    display: none;
  }

  .customize-theme .card {
    width: 60%;
  }

  .card{
    min-width: 60%;
  }
}

@media screen and (max-width: 650px){
  .left{
    position: fixed;
    width: 70px;
    top: 80px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 0;
  }

  .main-container{
    min-width: 100%;
    grid-template-columns: 1fr;
  }

  main{
    padding: 0;
  }

  .list-items{
    border-radius: 10px;
  }

  .stories{
    min-width: 100%;
    gap: 4px;
  }

  .feed{
    min-width: 100%;
  }

  .card{
    min-width: 90%;
  }

  .menu-item .active{
    border-radius: 10px;
    overflow: hidden;
  }

  .list-items{
    overflow: hidden;
  }
}